<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socify</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
x
</head>

<body>

    <div class="container mt-5">
        <h1 class="mb-4">Socify</h1>

        <form id="contentForm" method="POST" action="/index">
            <div class="form-group">
                <label for="userInput">Enter your ideas :</label>
                <textarea class="form-control" id="userInput" roaws="3" required></textarea>
            </div>

            <button type="button" class="btn btn-primary" onclick="generateContent()">Generate Content</button>
        </form>

        <div class="mt-4" id="responseDiv">
            <h3>Generated response</h3>
            <p id="responseText">{{ text }}</p>
            
                <h4>Here is your content:</h4>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Brand ID</th>
                        <th>Post ID</th>
                        <th>Caption</th>
                        <th>Status</th>
                        <th>Media URL</th>
                        <th>Media Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for profile in profiles %}
                        <tr>
                            <td>{{ profile.id }}</td>
                            <td>{{ profile.brand_id }}</td>
                            <td>{{ profile.post_id }}</td>
                            <td>{{ profile.caption }}</td>
                            <td>{{ profile.status }}</td>
                            <td>{{ profile.media_url }}</td>
                            <td>{{ profile.media_type }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        
        </div>

    </div>

    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="../static/main.js"></script>

</body>

</html>
